extends layout.jade

block content
	h1= title
	if user
		p Welcome, #{user}. Enjoy #{title}
		hr
		if version
			p Version #{version}
		else
			form(name="version_num", action="/version_declare", method="post")
				div.input
					span.label Version
					input(type="text", name="ff_version")
				div.actions
					input(type="submit", value="Declare Version")
		p Q.A. Sign Off 
		button(class="btn", id="qabttn", data-action="bea", disabled=!version) Sign Off
		p Release Channels Approval
		button(class="btn", data-action="bea", disabled) Sign Off
	else
		p Please sign in to #{title}
